body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: hsl(197, 100%, 50%);
}
.row {
  margin-top: 50px;
}

li {
  list-style: none;
}
.b {
  height: 100%;
  background-color: orange;
  min-width: 15px !important;
  width: 15px !important;
  float: left;
}
.task {
  background-color: antiquewhite;
  line-height: 70px;
  justify-content: space-between;
  display: flex;
}
#task-contents li {
  display: flex;
  padding-left: 15px;
  height: 70px;
}

#task-contents {
  width: 80vw;
}
#task-contents .btn {
  font-size: 22px;
  padding: 6px;
}
